<!DOCTYPE html>
<html>
<head>
  <%- include('partials/html_head') %>
</head>
<body>
<div data-role="page">
  <%- include('partials/header') %>
  <div data-role="content" class="jqm-content" style="text-align:center;">
    <div data-demo-html="true">
      <ul data-role="listview">
        <li>Result : <%= result.status %></li>
        <% if (result.status) { %>
          <li>Height : <%= result.data.height %></li>
          <li>Validators : </li>
          <% for (var idx = 0; idx < result.data.validators.length; idx++) { %>
            <li><%= ">> " + result.data.validators[idx] %></li>
          <% } %>
        <% } %>
        <% if (!result.status) { %>
          <li>Error : <%= result.error %></li>
        <% } %>
      </ul>
    </div>
    <p></p>
    <a href="/PF3000" data-ajax="false" class="ui-btn ui-btn-b">Refresh</a>
  </div>
  <%- include('partials/footer') %>
</div>
</body>
</html>
